.invisimg {
    width: 1536px;
    height: 470px;
    margin-top: -155px;
    filter: grayscale(100%) brightness(50%);
}


.blackimgsec h1 {
    color: #fff;
    position: relative;
    font-size: 56px;
    font-weight: 600;
    letter-spacing: 1.3px;
    margin-top: -200px;
    margin-left: 55px;
    font: 'Cormorant', serif;
    font: 'Quicksand', sans-serif;
}


.quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }


  .cormorant {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  