.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}









.stories h1 {
    font-size: 18px;
    color: #ff934e;
    margin-top: 300px;
    margin-left: 130px;
  }
  
  
  .stories h2 {
    font-size: 40px;
    position: relative;
    color: #fff;
    margin-left: 130px;
    margin-top: 15px;
  }
  
  
  .stories p {
    color: #fff;
    position: relative;
    justify-content: space-between;
    margin-left: 110px;
    margin-top: 20px;
  }
  
  
  .stories .secondparastor {
    margin-top: 30px;
  }
  
  .stories h3 {
    color: #ff934e;
    font-size: 18px;
    margin-left: 110px;
    margin-top: 50px;
  }
  
  
  .stories h4 {
    color: #fff;
    position: relative;
    margin-left: 110px;
    font-size: 16px;
  }
  
  
  .stories img {
    width: 710px;
    height: 500px;
    margin-left: 740px;
    margin-top: -350px;
  }
  
  
  .reviews .openingtext {
    font-size: 18px;
    color: #ff934e;
    margin-top: 200px;
    margin-left: 660px;
  }
  
  
  .reviews .openingbig {
    font-size: 35px;
    margin-left: 420px;
    color: #fff;
  }
  
  
  .reviews .openingpara {
    color: #fff;
    margin-left: 320px;
  }
  
  
  .fa-star {
    color: #ffc107;
  }
  
  .card1 {
    width: 480px;
    height: 210px;
    margin-left: 40px;
    background-color: #212121;
    margin-top: 30px;
    margin-left: -600px;
  }
  
  
  .card1 .fa-star {
    margin-top: 25px;
    margin-left: 30px;
    margin-right: -23px;
  }
  
  
  
  
  .card1 p {
    color: #fff;
    margin-left: 30px;
    margin-top: 20px;
  }
  
  
  .card1 h5 {
    font-size: 14px;
    color: #ff934e;
    margin-top: 20px;
    margin-left: 30px;
  }
  
  .card1 h4 {
    font-size: 16px;
    color: #fff;
    margin-left: 30px;
    margin-top: -5px;
  }
  
  
  .card1 .fa-quote-right {
    display: flex;
    font-size: 50px;
    color: #7a7a7a;
    margin-top: -50px;
    margin-left: 370px;
  }
  
  
  
  
  
  
  
  .card3 {
    width: 480px;
    height: 210px;
    background-color: #212121;
    margin-top: 30px;
    margin-left: -400px;
  }
  
  
  .card3 .fa-star {
    margin-top: 25px;
    margin-left: 30px;
    margin-right: -23px;
  }
  
  
  .card3 p {
    color: #fff;
    margin-left: 30px;
    margin-top: 20px;
  }
  
  
  .card3 h5 {
    font-size: 14px;
    color: #ff934e;
    margin-top: 20px;
    margin-left: 30px;
  }
  
  
  .card3 h4 {
    font-size: 16px;
    color: #fff;
    margin-left: 30px;
    margin-top: -5px;
  }
  
  
  .card3 .fa-quote-right {
      display: flex;
    font-size: 50px;
    color: #7a7a7a;
    margin-top: -50px;
    margin-left: 370px;
  }
  
  
  
  .card4 {
    width: 480px;
    height: 210px;
    background-color: #212121;
    margin-left: -200px;
    margin-top: 30px;
  }
  
  
  .card4 .fa-star {
    margin-top: 25px;
    margin-left: 30px;
    margin-right: -23px;
  }
  
  
  .card4 p {
    color: #fff;
    margin-left: 30px;
    margin-top: 20px;
  }
  
  
  .card4 h5 {
    font-size: 14px;
    color: #ff934e;
    margin-top: 20px;
    margin-left: 30px;
  }
  
  
  .card4 h4 {
    font-size: 16px;
    color: #fff;
    margin-left: 30px;
    margin-top: -5px;
  }
  
  
  .card4 .fa-quote-right {
      display: flex;
    font-size: 50px;
    color: #7a7a7a;
    margin-top: -50px;
    margin-left: 370px;
  }
  
  
  
  .card5 {
    width: 480px;
    height: 210px;
    background-color: #212121;
    margin-top: 30px;
  }
  
  
  .card5 .fa-star {
    margin-top: 25px;
    margin-left: 30px;
    margin-right: -23px;
  }
  
  
  .card5 p {
    color: #fff;
    margin-left: 30px;
    margin-top: 20px;
  }
  
  
  .card5 h5 {
    font-size: 14px;
    color: #ff934e;
    margin-top: 20px;
    margin-left: 30px;
  }
  
  
  .card5 h4 {
    font-size: 16px;
    color: #fff;
    margin-left: 30px;
    margin-top: -5px;
  }
  
  
  .card5 .fa-quote-right {
      display: flex;
    font-size: 50px;
    color: #7a7a7a;
    margin-top: -50px;
    margin-left: 370px;
  }
  
  
  .card6 {
    width: 480px;
    height: 210px;
    background-color: #212121;
    margin-left: 200px;
    margin-top: 30px;
  }
  
  
  .card6 .fa-star {
    margin-top: 25px;
    margin-left: 30px;
    margin-right: -23px;
  }
  
  
  .card6 p {
    color: #fff;
    margin-left: 30px;
    margin-top: 20px;
  }
  
  
  .card6 h5 {
    font-size: 14px;
    color: #ff934e;
    margin-top: 20px;
    margin-left: 30px;
  }
  
  
  .card6 h4 {
    font-size: 16px;
    color: #fff;
    margin-left: 30px;
    margin-top: -5px;
  }
  
  
  .card6 .fa-quote-right {
      display: flex;
    font-size: 50px;
    color: #7a7a7a;
    margin-top: -50px;
    margin-left: 370px;
  }





  .ls-2 {
    letter-spacing: 2px;
  }
  
  .font-1 {
    font-family: var(--font-1);
  }
  .lh-1 {
    line-height: 1 !important;
  }
  .fw-bold {
    font-weight: 700 !important;
  }



  .quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }


  .cormorant {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }


  @media(min-width:317px) and (max-width:320px) {
    .stories h1 {
      margin-top: 230px !important;
      margin-left: 115px !important;
      font-size: 24px !important;
    }

    .stories h2 {
      margin-top: 20px !important;
      margin-left: 25px !important;
    }

    .firstparastor {
      margin-top: 20px !important;
      margin-left: 25px !important;
    }

    .secondparastor {
      margin-top: 20px !important;
      margin-left: 25px !important;
    }

    .stories h3 {
      margin-top: 30px !important;
      margin-left: 25px !important;
    }

    .stories h4 {
      margin-top: 10px !important;
      margin-left: 25px !important;
    }

    .stories img {
      width:315px !important;
      height: 200px !important;
      margin-left: -5px !important;
      margin-top: 20px !important;
    }

    .openingtext {
      margin-top: 180px !important;
      margin-left: 85px !important;
    }

    .openingbig {
      margin-left: 30px !important;
      margin-top: 20px !important;
    }

    .openingpara {
      margin-left: 20px !important;
      margin-top: 30px !important;
    }

    .card1 {
      width:300px !important;
      height: 300px !important;
      margin-left: 5px !important;
    }

    .card3 {
      width:300px !important;
      height: 300px !important;
      margin-left: 5px !important;
    }
    .card4 {
      width:300px !important;
      height: 300px !important;
      margin-left: 5px !important;
    }
    .card5 {
      width:300px !important;
      height: 300px !important;
      margin-left: 5px !important;
    }
    .card6 {
      width:300px !important;
      height: 300px !important;
      margin-left: 5px !important;
    }

     .card6 .fa-quote-right {
        display: flex !important;
      font-size: 50px !important;
      color: #7a7a7a !important;
      margin-top: -50px !important;
      margin-left: 200px !important;
    }

     .card5 .fa-quote-right {
        display: flex !important;
      font-size: 50px !important;
      color: #7a7a7a !important;
      margin-top: -50px !important;
      margin-left: 200px !important;
    }
     .card4 .fa-quote-right {
        display: flex !important;
      font-size: 50px !important;
      color: #7a7a7a !important;
      margin-top: -50px !important;
      margin-left: 200px !important;
    }
     .card3 .fa-quote-right {
        display: flex !important;
      font-size: 50px !important;
      color: #7a7a7a !important;
      margin-top: -50px !important;
      margin-left: 200px !important;
    }
     .card1 .fa-quote-right {
        display: flex !important;
      font-size: 50px !important;
      color: #7a7a7a !important;
      margin-top: -50px !important;
      margin-left: 200px !important;
    }
    

  }

  @media(min-width:1277px) and (max-width:1280px) {
    .stories h1 {
      margin-top: 210px !important;
      margin-left: 80px !important;
    }

    .stories h2 {
      margin-left: 70px !important;
    }

    .stories p {
      margin-left: 70px !important;
    }

    .stories img {
      width: 600px !important;
      height: 430px !important;
      margin-left: 670px !important;
    }

    .openingtext {
      margin-left: 580px !important;
    }

    .openingbig {
      margin-left: 360px !important;
    }

    .card6 {
      margin-left: 360px !important;
    }

    .card5 {
      margin-left: 140px !important;
    }

    .card4 {
      margin-left: -79px !important;
    }

    .card3 {
      margin-left: -300px;
    }

    .card1 {
      margin-left: -520px;
    }
  }


  @media(min-width:765px) and (max-width:768px) {
    .stories h1 {
      font-size: 33px !important;
      margin-left: 320px !important;
      margin-top: 180px !important;
    }

    .stories h2 {
      margin-left: 160px !important;
    }

    .stories img {
      margin-top: 40px !important;
      margin-left: 83px !important ;
      width:600px !important;
      height: 340px !important;
    }

    .openingtext {
      margin-left: 330px !important;
    }

    .openingbig {
      font-size: 31px !important;
      margin-top: 30px !important;
      margin-left: 140px !important;
    }

    .openingpara {
      margin-top: 25px !important;
      margin-left: 90px !important;
    }

   .card1 {
    width: 350px !important;
    height: 300px !important;
    margin-left: -180px !important;
   }

   .card1 .fa-quote-right {
    display: flex !important;
  font-size: 50px !important;
  color: #7a7a7a !important;
  margin-top: -50px !important;
  margin-left: 200px !important;
}

.card3 {
  width: 350px !important;
  height: 300px !important;
  margin-left: -220px !important;
 }

 .card3 .fa-quote-right {
  display: flex !important;
font-size: 50px !important;
color: #7a7a7a !important;
margin-top: -50px !important;
margin-left: 200px !important;
}

.card4 {
  width: 350px !important;
  height: 300px !important;
  margin-left: -260px !important;
 }

 .card4 .fa-quote-right {
  display: flex !important;
font-size: 50px !important;
color: #7a7a7a !important;
margin-top: -50px !important;
margin-left: 200px !important;
}

.card5 {
  width: 350px !important;
  height: 300px !important;
  margin-left: -300px !important;
 }

 .card5 .fa-quote-right {
  display: flex !important;
font-size: 50px !important;
color: #7a7a7a !important;
margin-top: -50px !important;
margin-left: 200px !important;
}


.card6 {
  width: 350px !important;
  height: 300px !important;
  margin-left: -340px !important;
 }

 .card6 .fa-quote-right {
  display: flex !important;
font-size: 50px !important;
color: #7a7a7a !important;
margin-top: -50px !important;
margin-left: 200px !important;
}


  }


  @media(min-width:357px) and (max-width:360px) {
        .stories img {
          width: 323px !important;
          height: 210px !important;
        }  

        .stories h1 {
          margin-top: 160px !important;
          margin-left: 150px !important;
        }

        .stories h2 { 
          margin-left: 55px !important;
          margin-top: 30px !important;
        }

        .firstparastor,.secondparastor {
          margin-left: 40px !important;
        }

        .stories h3,h4 {
          margin-top: 10px !important;
        }

        .stories img {
          margin-left: 23px !important;
          margin-top: 40px !important;
        }


        .openingtext {
          margin-left: 110px !important;
          margin-top: 150px !important;
        }

        .openingbig {
          margin-left:50px !important ;
          margin-top: 30px !important;
        }

        .openingpara {
          margin-left: 35px !important;
          margin-top: 20px !important;
        }

        .card1 {
          width: 350px !important;
          height: 300px !important;
          margin-left: -1px !important;
         }
      
         .card1 .fa-quote-right {
          display: flex !important;
        font-size: 50px !important;
        color: #7a7a7a !important;
        margin-top: -50px !important;
        margin-left: 200px !important;
      }
      
      .card3 {
        width: 350px !important;
        height: 300px !important;
        margin-left: -1px !important;
       }
      
       .card3 .fa-quote-right {
        display: flex !important;
      font-size: 50px !important;
      color: #7a7a7a !important;
      margin-top: -50px !important;
      margin-left: 200px !important;
      }
      
      .card4 {
        width: 350px !important;
        height: 300px !important;
        margin-left: -1px !important;
       }
      
       .card4 .fa-quote-right {
        display: flex !important;
      font-size: 50px !important;
      color: #7a7a7a !important;
      margin-top: -50px !important;
      margin-left: 200px !important;
      }
      
      .card5 {
        width: 350px !important;
        height: 300px !important;
        margin-left: 2px !important;
       }
      
       .card5 .fa-quote-right {
        display: flex !important;
      font-size: 50px !important;
      color: #7a7a7a !important;
      margin-top: -50px !important;
      margin-left: 200px !important;
      }
      
      
      .card6 {
        width: 350px !important;
        height: 300px !important;
        margin-left: 10px !important;
       }
      
       .card6 .fa-quote-right {
        display: flex !important;
      font-size: 50px !important;
      color: #7a7a7a !important;
      margin-top: -50px !important;
      margin-left: 200px !important;
      }
      
      }