.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }






.premaking img {
    margin-top: 80px;
    margin-left: 3px;
    width: 1507px;
    opacity: 0.3;
    height: 700px;
    filter: brightness(1000px);
  }
  
  
  .premaking .namewrite {
    margin-top: -610px;
    margin-left: 30px;
  }


  .premaking .lastwrite {
    margin-left: 450px;
    margin-top: -63px;
  }


  .premaking .mail {
    margin-left: 30px;
    margin-top: 60px;
  }


  .premaking .subwrite {
    margin-left: 450px;
    margin-top: -70px;
  }
  

textarea {
  width: 760px !important;
  height: 170px;
  margin-left: 27px !important;
  margin-top: 60px !important;
}

   input, textarea {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #fff !important;
    position: relative !important;
    border-left: 3px solid #fff !important;
    }


    input {
      width: 330px !important;
    }
  
  .form-control::placeholder {
    color: #fff !important;
  }



  .premaking input,
.premaking textarea {
  color: #fff !important;
  font-size: 23px;
}



 .premaking .messager {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  color: #ff934e;
  display: inline-block;
  border: 3px solid #ff934e; 
  padding: 5px; 
  border-radius: 4px;
  font-size: 22px;
  margin-top: 40px;
  margin-left: 25px;
  background-color: transparent;
 }


 .messager:hover {
  color: #fff !important;
 }


 .premaking .warning {
  position: relative;
  color: #fff;
  margin-left: 25px;
  margin-top: 25px;
 }


 .premaking .contacts {
  font-size: 18px;
  color: #ff934e;
  position: relative;
  margin-top: -510px;
  margin-left: 850px;
 }


 .premaking .callback {
  position: relative;
  color: #fff;
  font-size: 45px;
  letter-spacing: 1px;
  margin-left: 850px;
  margin-top: 20px;
 }


 .premaking .creativitypara {
  position: relative;
  color: #fff;
  margin-left: 850px;
 }


.premaking i {
  position: relative;
  color: #ff934e;
}



.premaking .fa-phone {
  display: flex;
  margin-left: 870px;
  margin-top: 40px;
}


.premaking .fa-envelope  {
  display: flex;
  margin-top: 40px !important;
  margin-left: 870px;
}


.premaking .fa-user {
  display: flex;
  margin-left: 1150px;
  margin-top: -23px;
}


.premaking .fa-location-dot {
  display: flex;
  margin-left: 1150px;
  margin-top: -78px;
 
}


.premaking .phonenumber {
  display: flex;
  position: relative;
  color: #fff;
  font-size: 17px;
  margin-left: 900px;
  margin-top: -17px;
}


.premaking .emaddress {
  position: relative;
  color: #fff;
  font-size: 17px;
  margin-left: 900px;
  margin-top: 40px;
}


.premaking .ztreet {
  display: flex;
  position: relative;
  color: #fff;
  font-size: 17px;
  margin-left: 1170px;
  margin-top: -93px;
}


.premaking .webzite {
  display: flex;
  position: relative;
  color: #fff;
  margin-left: 1175px;
  margin-top: 40px;
}


 .ls-2 {
  letter-spacing: 2px;
}

.font-1 {
  font-family: var(--font-1);
}
.lh-1 {
  line-height: 1 !important;
}
.fw-bold {
  font-weight: 700 !important;
}



.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.cormorant {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


@media(min-width:1277px) and (max-width:1280px) {
  .fa-location-dot {
    margin-left: 1040px !important;
  }

  .ztreet {
    margin-left: 1060px !important;
  }

  .fa-envelope {
    margin-left: 800px !important;
  }

  .emaddress {
    margin-left: 830px !important;
  }

  .fa-user {
    margin-left: 1075px !important;
    margin-top: -24px !important;
  }

  .webzite {
    margin-left: 1100px !important;
    margin-top: 24px !important;
  }

  .premaking img {
    width: 1275px;
  }
}


@media(min-width:317px) and (max-width:320px) {
.premaking {
  margin-top: 320px !important;
}

 .premaking img {
  opacity: 0 !important;
 }

  input,textarea {
  font-size: 16px !important ;
  width: 250px !important;
 } 

 .namewrite {
  margin-top: -60px !important;
 }

.lastwrite {
  margin-left: 30px !important;
  margin-top: 50px !important;
}


.subwrite {
  margin-left: 30px !important;
  margin-top: 50px !important;
}

.imputtext {
  margin-top: -250px !important;
}

.problematicpart {
  margin-top: 250px !important;
}


 .premaking .creativitypara {
  position: relative !important;
  margin-left: 30px !important;
  margin-top: 20px !important;
 }

 .fa-phone {
  display: flex !important;
  margin-top: 5px !important;
margin-left: 50px !important;
font-size: 22px !important;
 }

 .fa-location-dot {
  margin-top: 40px !important;
  margin-left: 62px !important;
font-size: 22px !important;
 }

 .fa-envelope {
  display: inline-block !important;
margin-top: 80px !important;
  margin-left: 55px !important;
font-size: 22px !important;
 }

 .fa-user {
  display: flex !important;
  margin-top: -30px !important;
    margin-left: 63px !important;
  font-size: 22px !important;
 }

 .phonenumber {
  margin-top: -157px !important;
  margin-left: 80px !important;
  font-size: 22px !important;
 }

 .emaddress {
  display: inline-block !important;
  margin-top: 33px !important;
    margin-left: 91px !important;
  font-size: 16px !important;
 }

 .ztreet {
  margin-top: 30px !important;
  margin-left: 92px !important;
  font-size: 18px !important;
 }

 .webzite {
  margin-top: 20px !important;
  margin-left: 92px !important;
  font-size: 22px !important;
 }

 .contacts {
  margin-left: 110px !important;
  margin-top: -1730px !important;
 }

 .callback {
  margin-left: 30px !important;
  font-size: 34px !important;
 }


}

@media(min-width:765px) and (max-width:768px) {
 .contacts {
  margin-left: 340px !important;
  margin-top: -1010px !important;
 }

 .callback {
  font-size: 36px !important;
  margin-left: 210px !important;
 }

 .creativitypara {
  margin-top: 30px !important;
  margin-left: 45px !important;
 }
 
  .premaking img {
    width: 763px !important;
    height: 1100px !important;
  }

  .fa-phone {
    margin-top: 40px !important;
    font-size: 30px !important;
    margin-left: 45px !important;
  }

  .phonenumber {
    margin-top: -135px !important;
    font-size: 30px !important;
    margin-left: 100px !important;
  }

  .fa-location-dot {
    margin-top: -30px !important;
    display: flex !important;
    font-size: 30px !important;
    margin-left:45px !important;
  }

  .ztreet {
    margin-top:-30px !important;
    font-size: 20px !important;
    margin-left: 100px !important;
  }

  .fa-envelope {
    font-size: 30px !important;
    display: flex !important;
    padding-top: 30px !important;
    margin-left: 460px !important;
  }

  .emaddress {
    padding-top: 32px !important;
    margin-left: 510px !important;
  }

  .fa-user {
    font-size: 30px !important;
    display: flex !important;
    margin-top: -37px !important;
    margin-left: 445px !important;
  }

  .webzite {
    display: flex !important;
    margin-top: -120px !important;
    margin-left: 490px !important;
  }

  input {
    width: 290px !important;
  }

  textarea {
    width: 700px !important;
  }
}


@media(min-width:357px) and (max-width:360px) {
  .premaking img {
    width: 355px !important;
    height: 1200px !important;
  }

  .premaking{
    margin-top: 50px !important;
  }

  .problematicpart {
    opacity: 1 !important;
    display: block !important;
    margin-top: -80px !important;
  }

.problematicpart h1 {
  margin-left: 136px !important;
  margin-top: -1260px !important;
}

.creativitypara {
  margin-left: 36px !important;
  margin-top: 25px !important;
}

.callback {
  font-size: 33px !important;
  margin-left: 56px !important;
}

.fa-phone {
  margin-top: 20px !important;
  margin-left: 34px !important
}

.phonenumber {
  margin-left: 60px !important;
  margin-top: -30px !important;
}

.fa-envelope {
  padding-top: 20px !important;
  margin-left: 34px !important;
}

.emaddress {
  display: flex !important;
  margin-top: 56px !important;
  margin-left: 60px !important;
}

.fa-location-dot {
  margin-left: 200px !important;
  margin-top: -84px !important;
  box-sizing: border-box !important;
  flex-direction: column !important;
}

.ztreet {
  margin-top: -110px !important;
  margin-left: 230px !important;
}

.fa-user {
  margin-left: 34px !important;
  margin-top: -25px !important;
}

.webzite {
  margin-top: -26px !important;
  margin-left: 59px !important;
}


input,textarea {
  width: 270px !important;
}

textarea {
  margin-top: 170px !important;
}

.namewrite {
  margin-top: -430px !important;
}

 .lastwrite {
  display: flex !important;
  margin-left: 46px !important;
  margin-top: -390px !important;
}

.subwrite {
  margin-left: 36px !important;
  margin-top: 30px !important;
}

.mail {
  margin-left: 36px !important;
  margin-top:35px !important;
}
.messager {
  margin-top: 20px !important;
}
}