.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}





.protexts h5 {
    position: relative;
    color: #ff934e;
  padding-top: 70px;
    margin-left: 100px;
  z-index: 999999999;
  }
  
  
  .ls-2 {
    letter-spacing: 2px;
  }
  
  .font-1 {
    font-family: var(--font-1);
  }
  .lh-1 {
    line-height: 1 !important;
  }
  .fw-bold {
    font-weight: 700 !important;
  }
  
  
  .protexts {
    background-color: #212121;
    margin-top: 180px;
    height: 1000px;
  }
  
  
  .protexts h4 {
    font-size: 40px;
    margin-left: 85px;
    color: #fff;
    margin-top: 15px;
  }
  
  
  .videos img {
    margin-top: 70px;
    margin-left: 350px;
    width: 800px;
    height: 400px;
  }
  
  
  .videos .longparagraph {
    color: #fff;
    margin-top: 100px;
    margin-left: 40px;
  }
  
  
  .videos .shortparagraph {
    color: #fff;
    margin-top: -135px;
    margin-left: 800px;
  }
  
  
  .videos .seeall {
    margin-top: 10px;
    margin-left: 800px;
    color: #ff934e;
  display: inline-block;
  text-decoration: none; 
  border: 3px solid #ff934e; 
  padding: 5px; 
  border-radius: 4px;
  }
  
  
  .videos .startproject {
    margin-left: 80px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
  }
  
  
  .videos .fa-arrow-right {
    color: #fff;
    margin-left: 10px;
  }
  
  
  
  .backimg img {
    margin-top: 5px;
    opacity: 0.05;
    width: 1515px;
    height: 400px;
  }
  
  
  .backimg .firsth5 {
    margin-left: 680px;
    margin-top: -360px;
    color: #ff934e;
  }
  
  
  .backimg .firsth4 {
    position: relative;
    color: #fff;
    margin-left: 480px;
    font-size: 48px;
  }
  
  
  .service1 .fa-film {
    position: relative;
    font-size: 58px;
    color: #ff934e;
    margin-top: 100px;
    margin-left: 40px;
  }
  
  
  .service1 h1 {
    font-size: 16px;
    position: relative;
    color: #fff;
    margin-top: -70px;
    margin-left: 115px;
  }
  
  
  .service1 p {
    position: relative;
    color: #fff;
    margin-left: 115px;
  }
  
  
  
  .service2 .fa-photo-film {
    display: flex;
    font-size: 58px;
    color: #ff934e;
    margin-top: -115px;
    margin-left: 390px;
  }
  
  .service2 h1 {
    font-size: 16px;
    position: relative;
    color: #fff;
    margin-left: 480px;
    margin-top: -70px;
  }
  
  
  .service2 p {
    color: #fff;
    position: relative;
    margin-left: 480px;
  }
  
  
  .service3 .fa-video {
    display: flex;
    font-size: 58px;
    color: #ff934e;
    margin-left: 760px;
    margin-top: -110px;
  }
  
  
  .service3 h2 {
    position: relative;
    font-size: 16px;
    color: #fff;
    margin-left: 840px;
    margin-top: -60px;
  }
  
  
  .service3 p {
    position: relative;
    color: #fff;
    margin-left: 840px;
  }
  
  
  .service4 .fa-music {
    display: flex;
    font-size: 58px;
    color: #ff934e;
    margin-left: 1130px;
    margin-top: -120px;
  }
  
  
  .service4 h3 {
    position: relative;
    color: #fff;
    font-size: 16px;
    margin-left: 1220px;
    margin-top: -60px;
  }
  
  .service4 p {
    position: relative;
    color: #fff;
    margin-left: 1220px;
  }

  



  .ls-2 {
    letter-spacing: 2px;
  }
  
  .font-1 {
    font-family: var(--font-1);
  }
  .lh-1 {
    line-height: 1 !important;
  }
  .fw-bold {
    font-weight: 700 !important;
  }



  .quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }


  .cormorant {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }



  @media(min-width:1277px) and (max-width:1280px) {
    .firsth5 {
      margin-left: 590px !important;
      margin-top: -430px !important;
    }

    .firsth4 {
      margin-left: 400px !important;
    }

    .backimg img {
      height: 480px;
    }

    .service3 {
      margin-top: 170px !important;
      margin-left: -460px !important;
    }

    .service2 {
      margin-top: 30px !important;
      margin-left: 270px !important;
    }
    .service1 {
      margin-top: -40px;
      margin-left: 250px;
    }

    .service4 {
margin-left: -460px;
    }


    .backimg img {
      width: 1275px;
    }
  }