.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  
.teamview img {
    width: 1517px;
    height: 85vh;
    filter: brightness(75%);
}


.texts h1 {
    color: #fff;
    margin-top: -250px;
    margin-left: 625px;
 position: relative;
    
}


.texts h2 {
  color: #fff;
  margin-top: -360px;
  margin-left: 480px;
  position: relative;
  font-size: 85px;
}

.texts h2 span {
  color: #ff934e;
}

.font-2 {
  font-family: var(--font-2);
}


.lh-1 {
  line-height: 1 !important;
}

.fw-bold {
  font-weight: 700 !important;
}



.texts p {
  position: relative;
  color: #fff;
  margin-top: 230px;
  margin-left: 390px;
}

.texts p span {
  margin-left: 210px;
}


.awards img {
 width: 280px;
 position: relative;
 margin-top: 40px;

}

.awards .award3 {
  margin-left: 50px;
}

.awards .award2 {
  margin-left: 70px;
}


.awards .award1 {
  margin-left: 70px;
}






 .card-body {
  position: relative;
   background-color: #ff934e;
   width: 350px;
   font-size: 23px;
   height:17vh;
   margin-left: 1100px;
   margin-top: -160px;
}

.card-body h5 {
  display: flex;
  font-size: 15px;
  margin-top: 20px;
  color: #fff;
  margin-left: 20px;
}

.card-body p {
  font-size: 15px;
  color: #fff;
  margin-top: -10px;
  margin-left: 20px;
}
