.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  
.teamview img {
    width: 1517px;
    height: 85vh;
    filter: brightness(75%);
    object-fit: cover;
}


.texts h1 {
    color: #fff;
    margin-top: -250px;
    margin-left: 625px;
 position: relative;
    
}


.texts h2 {
  color: #fff;
  margin-top: -360px;
  margin-left: 480px;
  position: relative;
  font-size: 85px;
}

.texts h2 span {
  color: #ff934e;
}

.font-2 {
  font-family: var(--font-2);
}


.lh-1 {
  line-height: 1 !important;
}

.fw-bold {
  font-weight: 700 !important;
}



.texts p {
  position: relative;
  color: #fff;
  margin-top: 230px;
  margin-left: 390px;
}

.texts p span {
  margin-left: 210px;
}


.awards img {
 width: 280px;
 position: relative;
 margin-top: 40px;

}

.awards .award3 {
  margin-left: 50px;
}

.awards .award2 {
  margin-left: 70px;
}


.awards .award1 {
  margin-left: 70px;
}






 .card-body {
  position: relative;
   background-color: #ff934e;
   width: 350px;
   font-size: 23px;
   height:17vh;
   margin-left: 1100px;
   margin-top: -160px;
}

.card-body h5 {
  display: flex;
  font-size: 15px;
  margin-top: 20px;
  color: #fff;
  margin-left: 20px;
}

.card-body p {
  font-size: 15px;
  color: #fff;
  margin-top: -10px;
  margin-left: 20px;
}


.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


.cormorant {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


@media(min-width:317px) and (max-width:320px) {
.teamview img {
  width: 315px !important;
}

.texts h1 {
  font-size: 22px !important;
  margin-left: 60px !important;
  margin-top: -120px !important;
  letter-spacing: 1px !important;
}

.texts h2 {
  font-size: 36px !important;
  margin-left: 20px !important;
  margin-top: -240px !important;
  letter-spacing: 1px !important;
}

  .texts p {
    margin-left: 40px !important;
    margin-top: 100px !important;
  }

  .texts p span {
    margin-left: -20px !important;
  }

  .awards img {
    width: 220px !important;
  }

  .award1 {
    margin-top: -200px !important;
    margin-left: 25px !important;
  }

  .award2 {
    margin-top: 100px !important;
    margin-left: -220px !important;
  }

  .award3 {
    margin-top: 400px !important;
    margin-left: -210px !important;
  }

  .card-body {
    margin-top: 20px !important;
    width: 306px !important;
   font-size: 23px !important;
   height:20vh !important;
   margin-left: 10px !important;
  }

}


@media(min-width:765px) and (max-width:768px) {
  .teamview img {
    width: 763px !important;
  }

  .texts h2 {
    margin-top: -420px !important;
    font-size: 70px !important;
    margin-left: 150px !important;
  }

  .texts h1 {
    margin-top: -220px !important;
    font-size: 30px !important;
    margin-left: 246px !important;
  }

  .texts p {
    margin-top: 215px !important;
    margin-left: 106px !important;
  }

  .texts p span {
    opacity: 0 !important;
  }

  .award1 {
    margin-left: 70px !important;
    margin-top: -140px !important;
  }

  .award2 {
    margin-left: 50px !important;
    margin-top: -140px !important;
  }

  .award3 {
    margin-left: -600px !important;
    margin-top: 300px !important;
  }

  .card-body {
    width: 307px !important;
    margin-left: 420px !important;
    margin-top: -170px !important;
  }
}


@media(min-width:1277px) and (max-width:1280px) {
  .teamview img {
      width: 1275px;
  }

.texts h1 {
  margin-left: 500px;
}

.texts h2 {
  margin-left: 340px;
}

.texts p {
  margin-left: 290px;
}

.awards .award1 {
  margin-left: 3px;
}

.awards .award2 {
  margin-left: 3px;
}

.awards .award3 {
  margin-left: 3px;
}

.card-body {
  margin-left: 900px !important;
}
}


@media(min-width:357px) and (max-width:360px) {
.teamview img {
  width: 355px !important;
  height: 66vh !important;
}

.texts h1 {
  font-size: 20px !important;
  margin-top: -123px !important;
  margin-left:90px !important;
}

.texts h2 {
  font-size: 36px !important;
  margin-top: -290px !important;
  margin-left:60px !important;
}

.texts p {
  margin-top: 117px !important;
  margin-left: 45px !important;
}

.texts p span {
  opacity: 0 !important;
}

.awards img {
  width: 230px !important;
}

.award1 {
  margin-top: -310px !important;
  margin-left: 40px !important;
}

.award2 {
  margin-top: -30px !important;
  margin-left: -230px !important;
}

.award3 {
  margin-top: 270px !important;
  margin-left: -226px !important;
}

.card-body {
  margin-top: 10px !important;
  margin-left: 25px !important;
  width: 315px !important;
}
}